@charset 'utf-8';
.visual_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    width: 100%;
    height: auto;
    .img {
        display: block;
        width: 100%;
    }
}
.brand_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    width: 100%;
    height: auto;
    .img {
        display: block;
        width: 100%;
    }
    .brand_wrap_info {
        margin-top: 4%;
    }
    .brand_wrap_3go {
        margin-top: 4%;
    }

}

.affiliateinquiry_section {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url('../public/img/bg/bg_left.png'), url('../public/img/bg/bg_right.png');
    background-size:30% 40%, 30% 40%;
    background-position:100% 12% ,0px 100%;
    background-repeat:no-repeat;
    height: 90vh;
}